# SAFETY
code/security_config.py

# FILES
.DS_Store
code/.DS_Store
code/.ipynb_checkpoints

# Ignore all CSV and Excel files in the data folder
data/**/*.csv
data/**/*.xlsx
data/**/*.zip
data/**/*.bat
data/**/*.png
data/**/*.mov

# FOLDERS
graphs/
ugly/
code/__pycache__
code/_archive
test/**/
