# SAFETY
helper/security_config*
helper/config.py

# FILES
.DS_Store
code/.DS_Store
code/.ipynb_checkpoints
helper/.ipynb_checkpoints
notebooks/.ipynb_checkpoints
scripts/.ipynb_checkpoints
test/wsc_calculation_details.csv

# Ignore all CSV and Excel files in the data folder
data/**/*.csv
data/**/*.xlsx
data/**/*.zip
data/**/*.bat
data/**/*.png
data/**/*.mov
data/*
docs/**/*.csv

# FOLDERS
graphs/
logs/
ugly/
code/__pycache__
helper/__pycache__
notebooks/_archive
test/**/


# Docs build artifacts
docs/build/
docs/_build/

# envs 
.digigam_venv/
venv/
